"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "metrics"
      "language-gfm"
      "markdown-preview"
    ]
    telemetryConsent: "no"
  date:
    dateTimeFormat: "YYYY-MM-DDTHH:mm:ssZ"
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "528c3aef-7c0d-4ea5-91ee-8a0c64dff083"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-spell":
    spellingErrorSeverity: "info"
  "linter-ui-default": {}
  "markdown-preview-enhanced":
    mathRenderingOption: "None"
    openPreviewPaneAutomatically: false
    previewTheme: "one-dark.css"
    usePandocParser: true
  welcome:
    showOnStartup: false
